<!DOCTYPE html>
<html>
<head>
    <title>Geocoder</title>
</head>
<body>
    <h1>Get coordinates from address</h1>

    <form method="get" action="coder">
        <table>
            <tr>
                <td>Street:</td>
                <td><input type="text" name="street"></td>
            </tr>
            <tr>
                <td>Number:</td>
                <td><input type="text" name="number"></td>
            </tr>
            <tr>
                <td>Pretty:</td>
                <td><input type="checkbox" name="pretty" value="true"></td>
            </tr>
        </table>
        
        <input type="submit" value="Отправить">
    </form>
</body>
</html>